node_modules/
coverage/
dist/
storybook-static/
demo/
debug.log
yarn-error.log
.vscode
.DS_Store
.eslintcache
.idea/
/web-dev-server.config.mjs

# Codecov uploader artifacts
codecov
codecov.SHA256SUM
codecov.SHA256SUM.sig
codecov
codecov.SHA256SUM
codecov.SHA256SUM.sig
